body{
    text-align:center;
    background: url(img/f3.png);
    background-repeat:inherit;
    background-origin: border-box;
    background-position: center;
    margin: 30px 30px;
        
    color: #ffff;
}

header{
    border-image-width: 50%;
}

footer{
    max-width: 90%;
    margin-left: 47px;
}

h1{
    font-family: Tourney, cursive;
    font-size: 80px;
    color: #fab697;
}

.titulo-amarelo{
color: #fbff00;
font-family: Marck Script, cursive;
font-size: 45px;
}
.titulo-vermelho{
color: #ff2600;
font-family: Bungee, cursive;
font-size: 30px;
}
.titulo-laranja{
    color:#eb7741;
    font-family: Bungee, cursive;
    font-size: 30px;
}
p{
    font-family: Bungee, cursiva;
    font-size: 25px;
    color: #f1c0a9;
}
form{
    font-family: Bungee, cursiva;
    font-size: 25px;
    color:#f1c0a9;
}
button{
    background-color: #eb9065;
    font-family: Bungee, cursive;
    font-size: 20px;
    text-align: center;
}
h5{
    font-size: 20px;
    font-family: Bungee, cursiva;
    color: #ffffff;
}
section{
    width: 90%;
    margin-left: 40px;
    margin-right: 0px;
    text-align:initial;
}
ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
}
h6{
    font-size: 15px;
    font-family: Yomogi, cursive;
    font-weight: 500;
    color: #ffffff;
}
